img {
    height: auto;
    width: 900px;
    border: solid grey;
    margin: auto;
    padding: 1px;
}
h1 {
    color: black;
    text-align: center;
    background-color: black;
    color: white;
    margin: 10px;
    border: solid black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: white;
    color: black;
    margin: 1em 10em 1em 10em;
    font-family: Arial, Helvetica, sans-serif;
    
}
